extends layout

block content
  h1 #{title}
  if categories.length
    ul
      each category in categories
        li
          a(href=category.url) #{category.name}
          p Description: #{category.description}
  else
    p There are no categories.